.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
    padding: 10px 16px;
}
.active {
    background-color: #c7aa8b;
    position: fixed;
    left: 0;
    top: 0;
    padding: 18px 16px;
    color:white;
    border: none;
}
.footer {
    position: static;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    /* padding-bottom: 25px; */
}
.container-fluid {
    height: 470px; 
    overflow-x: auto;
}
.divider {
    margin-top: 250px; 
    margin-bottom: 250px;
}
h1{
    color: #333;
    text-align: center;
    margin-top: 250px;
}
/* our website header */
.imgcontainer .contenti {
    position:absolute;
    top: 307px;
    background: rgb(0, 0, 0); /* Fallback color absolute*/
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 270px;
    padding: 40px;
  }
  .txt{
    color: 333;
    font-size: 48px;
    font-weight: bold;
  }
  .ib {
    display: inline-table;
    text-align: center;
    height: 200px;
    width: 200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* for text */
    color: 333;
    font-size: 16px;
    font-weight: bold;
  }
  /* color of images */
.filter-green{
    filter: invert(6%) sepia(97%) saturate(6885%) hue-rotate(17deg) brightness(94%) contrast(114%);
}
body{
    background-image: url('/static/img/kht.png');
    background-size:contain;
    background-attachment: fixed;
}
.ptxt{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
/* upload image and button style */
.container{
    height: 30px;
    width: 50px;
    position: relative;
    place-items: right; /*modi*/
    text-align: center;
  }
  .container .wrapper{
    position: relative;
    height: 300px;
    width: 340px;
    margin-top: 5px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
  }
  .wrapper.active{
    border: none;
  }
  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{
    height: 100%;
    width: 100%;
    object-fit:fill;
  }

  .wrapper .text{
    font-size: 20px;
    font-weight: 100;
    color: #5B5B7B;
  }
  .wrapper #cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #333;
    cursor: pointer;
    display: none;
  }
  .wrapper.active:hover #cancel-btn i{
    display: block;
  }
  .wrapper #cancel-btn i:hover{
    color: #e74c3c;
  }
  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: #333;
  }
  .wrapper.active:hover .file-name{
    display: block;
  }
  .container #custom-btn{
    margin-top: 315px;
    margin-right: -343px;
    display: block;
    width: 343px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px; 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #333;
    float: right;
  }

  /* boxes of text */
  .box-txt{
    height: 250px;
    width: 500px;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #c2cdda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
    margin-left: 100px;
    position:absolute;
    word-wrap: break-word;
}
.box-txt2{
  height: 250px;
  width: 400px;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #c2cdda;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 45px;
  margin-left: 50px;
  position:absolute;
  word-wrap: break-word;
}
.predtxt3{
  padding: 10px;
  float: right;
  margin-bottom: 30px;
  margin-right: 310px;
  border-right: 5px solid #A52A2A;
}
/* font type pred style h3 */
.predtxt{
  padding: 10px;
  float: right;
  margin-top: 20px;
  margin-right: 80px;
  border-right: 5px solid #A52A2A;
}
.predtxt2{
  padding: 10px;
  float: right;
  margin-bottom: 70px;
  margin-right: 170px;
  border-right: 5px solid #A52A2A;
}
/* animation of texts */
.lineUp {
  animation: 4s anim-lineUp ease-out infinite;
}
.lineUp2 {
  animation: 6s anim-lineUp ease-out infinite;
}
.lineUp3 {
  animation: 8s anim-lineUp ease-out infinite;
}
.lineUp4 {
  animation: 10s anim-lineUp ease-out infinite;
}
.lineUp5 {
  animation: 12s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.button-image {
  transform: translateY(-50%);
  margin-top: 30px;
  margin-right: 5px;
  width: 27px;
  height: 27px;
  border: none;
  background-image: url('/static/img/upload-g.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* inputs styles */
input[type=text], .selectfont {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: right;
}

input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.corrctbtn {
  /* float: left;  */
  width: 350px; 
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.corrctbtn:hover {
  background-color:rgb(129, 198, 114);
}

input[type=submit]:hover {
  background-color: #111;
}
.container #custom-btn:hover {
  background-color: #111;
}
.div_input {
  border-radius: 10px;
  margin-top: 3px;
  margin-right: 60px;
  background-color: #f2f2f2;
  padding: 12px;
  text-align:right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 370px;
  float: right;
}
::-webkit-input-placeholder {
  text-align: right;
}

/* display image style */
.displayimg{
  position:absolute;
  height: 260px;
  width: 660px;
  margin-top: 90px;
  margin-right: 40px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #c2cdda;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  object-fit:fill;
}

body > .skiptranslate {
  display: none;
}